# <center>Universidad Politécnica Salesiana</center>

**Nombre**: Lucy Garay

**Generar dos números pseudoaletorios, utilizando dos librerías diferentes con números (1-6).
Generar una tabla: Suma, Frecuencia, Probabilidad**
**Números:100,1000,10000**

### Librería random
##### TABLA 100 interaciones

In [28]:
#100
from random import randint

sumaA=[2,3,4,5,6,7,8,9,10,11,12]
probabilidad = []
frecuencia = []

def numeros(repeticiones):
    #print(sumaA)
    valores=[]
    for i in range(repeticiones):
        dado1=randint(1,6)
        dado2=randint(1,6)
        suma=dado1+dado2
        #print(valores1)
        valores.append(suma)


    frecuencia.append(valores.count(2))
    frecuencia.append(valores.count(3))
    frecuencia.append(valores.count(4))
    frecuencia.append(valores.count(5))
    frecuencia.append(valores.count(6))
    frecuencia.append(valores.count(7))
    frecuencia.append(valores.count(8))
    frecuencia.append(valores.count(9))
    frecuencia.append(valores.count(10))
    frecuencia.append(valores.count(11))
    frecuencia.append(valores.count(12))
    #print(frecuencia)

    for i in range(len(frecuencia)):
        proba=frecuencia[i]/repeticiones
        probabilidad.append(proba)

    print(sumaA)
    print(frecuencia)
    print(probabilidad)
       
numeros(100)

df=pd.DataFrame({"Suma ":sumaA, "Frecuencia": frecuencia,"Probabilidad ":probabilidad })
df

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 5, 6, 9, 21, 16, 15, 15, 8, 3, 1]
[0.01, 0.05, 0.06, 0.09, 0.21, 0.16, 0.15, 0.15, 0.08, 0.03, 0.01]

    Suma   Frecuencia  Probabilidad
0       2           1           0.01
1       3           5           0.05
2       4           6           0.06
3       5           9           0.09
4       6          21           0.21
5       7          16           0.16
6       8          15           0.15
7       9          15           0.15
8      10           8           0.08
9      11           3           0.03
10     12           1           0.01

##### TABLA 1000 interaciones

In [22]:
#1000
probabilidad = []
frecuencia = []
numeros(1000)

df=pd.DataFrame({"Suma ":sumaA, "Frecuencia": frecuencia,"Probabilidad ":probabilidad })
df

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[32, 58, 76, 115, 124, 182, 132, 102, 101, 59, 19]
[0.032, 0.058, 0.076, 0.115, 0.124, 0.182, 0.132, 0.102, 0.101, 0.059, 0.019]

    Suma   Frecuencia  Probabilidad
0       2          32          0.032
1       3          58          0.058
2       4          76          0.076
3       5         115          0.115
4       6         124          0.124
5       7         182          0.182
6       8         132          0.132
7       9         102          0.102
8      10         101          0.101
9      11          59          0.059
10     12          19          0.019

##### TABLA 10000 interaciones

In [24]:
#10000
probabilidad = []
frecuencia = []
numeros(10000)

df=pd.DataFrame({"Suma ":sumaA, "Frecuencia": frecuencia,"Probabilidad ":probabilidad })
df

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[284, 566, 836, 1089, 1355, 1612, 1430, 1172, 803, 568, 285]
[0.0284, 0.0566, 0.0836, 0.1089, 0.1355, 0.1612, 0.143, 0.1172, 0.0803, 0.0568, 0.0285]

    Suma   Frecuencia  Probabilidad
0       2         284         0.0284
1       3         566         0.0566
2       4         836         0.0836
3       5        1089         0.1089
4       6        1355         0.1355
5       7        1612         0.1612
6       8        1430         0.1430
7       9        1172         0.1172
8      10         803         0.0803
9      11         568         0.0568
10     12         285         0.0285

### Librería numpy
##### TABLA 100 interaciones

In [47]:
import numpy as np

sumaA=[2,3,4,5,6,7,8,9,10,11,12]
probabilidad = []
frecuencia = []

def numeros2(repeticiones):
    valores=[]
    for i in range(repeticiones):
        dado1 = np.random.randint(low=1, high=7)
        dado2 = np.random.randint(low=1, high=7)
        suma=dado1+dado2
        valores.append(suma)
        #print(suma)
        
    frecuencia.append(valores.count(2))
    frecuencia.append(valores.count(3))
    frecuencia.append(valores.count(4))
    frecuencia.append(valores.count(5))
    frecuencia.append(valores.count(6))
    frecuencia.append(valores.count(7))
    frecuencia.append(valores.count(8))
    frecuencia.append(valores.count(9))
    frecuencia.append(valores.count(10))
    frecuencia.append(valores.count(11))
    frecuencia.append(valores.count(12))
    #print(frecuencia)

    for i in range(len(frecuencia)):
        proba=frecuencia[i]/repeticiones
        probabilidad.append(proba)
        

    print(sumaA)
    print(frecuencia)
    print(probabilidad)
    
numeros2(100)

df=pd.DataFrame({"Suma ":sumaA, "Frecuencia": frecuencia,"Probabilidad ":probabilidad })
df

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[5, 5, 8, 5, 16, 11, 20, 13, 7, 4, 6]
[0.05, 0.05, 0.08, 0.05, 0.16, 0.11, 0.2, 0.13, 0.07, 0.04, 0.06]

    Suma   Frecuencia  Probabilidad
0       2           5           0.05
1       3           5           0.05
2       4           8           0.08
3       5           5           0.05
4       6          16           0.16
5       7          11           0.11
6       8          20           0.20
7       9          13           0.13
8      10           7           0.07
9      11           4           0.04
10     12           6           0.06

##### TABLA 1000 interaciones

In [48]:
probabilidad = []
frecuencia = []
numeros2(1000)

df=pd.DataFrame({"Suma ":sumaA, "Frecuencia": frecuencia,"Probabilidad ":probabilidad })
df

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[30, 45, 91, 128, 135, 167, 142, 103, 76, 56, 27]
[0.03, 0.045, 0.091, 0.128, 0.135, 0.167, 0.142, 0.103, 0.076, 0.056, 0.027]

    Suma   Frecuencia  Probabilidad
0       2          30          0.030
1       3          45          0.045
2       4          91          0.091
3       5         128          0.128
4       6         135          0.135
5       7         167          0.167
6       8         142          0.142
7       9         103          0.103
8      10          76          0.076
9      11          56          0.056
10     12          27          0.027

##### TABLA 10000 interaciones

In [43]:
probabilidad = []
frecuencia = []
numeros2(10000)

df=pd.DataFrame({"Suma ":sumaA, "Frecuencia": frecuencia,"Probabilidad ":probabilidad })
df

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[258, 575, 815, 1145, 1364, 1707, 1342, 1141, 850, 548, 255]
[0.0258, 0.0575, 0.0815, 0.1145, 0.1364, 0.1707, 0.1342, 0.1141, 0.085, 0.0548, 0.0255]

    Suma   Frecuencia  Probabilidad
0       2         258         0.0258
1       3         575         0.0575
2       4         815         0.0815
3       5        1145         0.1145
4       6        1364         0.1364
5       7        1707         0.1707
6       8        1342         0.1342
7       9        1141         0.1141
8      10         850         0.0850
9      11         548         0.0548
10     12         255         0.0255

                                                                                 CUENCA, 04 DE ABRIL DEL 2020